.timeline_grid {
    margin-top:50px;
    display: grid;
    grid-template: repeat(12, 50px) / repeat(12, 1fr);
}

.timeline_background {
    grid-area: 1 / 1 / -1 / -1;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.timeline_overlay_top {
    grid-area: 2 / 8 / span 3 / span 4;
    text-align: left;
    background-color: rgba(0,0,0, 0.75);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}


.timeline_overlay_bottom {
    grid-area: 7 / 8 / span 5 / span 4;
    text-align: left;
    background-color: rgba(255,255,255, 0.75);
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.timeline_p {
  width: 100%;
}


@media only screen and (max-width: 770px) {
    .timeline_overlay_top {
        grid-area: 2 / 6 / span 3 / span 6;
        
    }
    .timeline_overlay_bottom {
        grid-area: 7 / 6 / span 5 / span 6;
    }
  }

  
@media only screen and (max-width: 450px) {
    .timeline_overlay_top {
        grid-area: 2 / 2 / span 3 / -2;
        
    }
    .timeline_overlay_bottom {
        grid-area: 7 / 2 / span 5 / -2;
    }
  }